

@media screen and (min-width:768px){
    .main-content-section{
        margin: 8px 16px;
        padding-bottom: 15px;
        background-color: white;
    }
}

@media screen and (min-width: 900px) {
    .main-content-section{
        max-width: 996px;
        margin: 8px 16px;
    }
}
@media screen and (min-width:1040px){
    .main-content-section{
        margin: 8px auto;
    }
}

@media screen and (min-width: 1190px) {
    .main-content-section{
        max-width: 1600px;
        margin: 8px 16px;
        padding: 0;
    }
}

@media screen and (min-width: 1620px){
    .main-content-section{
        margin: 8px auto;
    }
}