.random-box{
    padding: 22px 16px 15px;
}
.random-box-main{
    background-color: #d7f2e8;
    padding: 20px 12px;
    border-radius: 15px;
}

.random-box-main h1{
    font-size: 17px;
    letter-spacing: -0.01px;
    line-height: 24px;
    font-family: SemiBold;   
    margin-bottom: 15px;
}
.random-product{
    height: fit-content;
}

.random-products{
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 10px;
}
.random-product-image-main{
    padding: 20px 0;
    background-color: #f5f5f5;
    border-radius: 15px;
    max-height: 187px;
    width: 100%;
    height: 100%;
}
.random-product-image-main img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.random-product-details-main{
    padding-top: 5px;
}
.random-product-details-main span{
    font-size: 12px;
    line-height: 18px;
    font-family: Regular;
}
.random-product-details-main h3{
    font-size: 14px;
    letter-spacing: -0.01px;
    line-height: 20px;
    font-family: SemiBold;
}
.underline{
    width: 100%;
    height: 5px;
    background-color: #f5f5f5;
}



@media screen and (min-width: 470px){
    .random-product{
        height: auto;
    }
    .random-product-image-main{
        padding:0;
    }
}

@media screen and (min-width: 768px) {
    .random-box-main h1{
        font-size: 22px;
        letter-spacing: -0,02px;
        line-height: 30px;
    }
    .random-product-details-main span {
        font-size: 14px;
        letter-spacing: -0.1px;
        line-height: 20px;
    }
    .random-product-details-main h3{
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1191px) {
    .random-box{
        display: none;
    }
    .underline{
        display: none;
    }
}