.pAddSection {
  height: 242px;
  width: 100%;
  background-image: url("./PAddSectionAssets/addbackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.pagePath {
  display: none;
  gap: 8px;
  align-items: center;
  padding: 10px 0 0 10px;
}

.pagePath p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(135, 135, 135);
  font-family: Roboto;
}
.pagePath img {
  transform: rotate(180deg);
  width: 4px;
}

.footballDescription {
  overflow: hidden;
  text-wrap: nowrap;
  margin: 20px 10px 0;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.wrapText {
  text-wrap: wrap;
}

.ReadMore {
  font-size: 12px;
  letter-spacing: normal;
  font-family: Roboto;
  margin-left: 10px;
  color: blue;
}

.addMain {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  position: relative;
}

.Addcontainer {
  display: flex;
  height: 100%;
  width: 172px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 8px 0 16px;
}
.AddcontainerRight {
  display: flex;
  height: 100%;
  width: 172px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.Addcontainer p,
.AddcontainerRight p {
  text-align: center;
  margin-bottom: 6px;
  font-family: SemiBold;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 20px;
  color: rgb(17, 17, 18);
  width: 130px;
}

.Addcontainer div,
.AddcontainerRight div {
  display: flex;
  align-items: center;
}

.Addcontainer,
.AddcontainerRight div span {
  font-family: Regular;
  color: rgb(17, 17, 18);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.arrowRight {
  width: 11px;
  margin-left: 2px;
}

.addBtn {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto;
  padding: 2px 4px;
  background-color: rgb(240, 242, 245);
}

.addBtnRight {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto;
  padding: 2px 4px;
  background-color: rgb(240, 242, 245);
}

.productCount {
  display: none;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  margin-left: 10px;
}

.productCount h1 {
  font-family: semiBold;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: black;
}

.productCount p {
  font-size: 11px;
  font-weight: 400;
  color: rgb(135, 135, 135);
  font-family: Regular;
}

@media screen and (min-width: 1170px) {
  .footballDescription {
    overflow: auto;
    font-size: 11px;
    text-wrap: wrap;
    margin-top: 10px;
    padding-right: 10px;
    color: rgb(135, 135, 135);
  }
  .ReadMore {
    display: none;
  }
  .pagePath {
    display: flex;
  }
  .productCount {
    display: flex;
  }
}

