.priceHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceFilterSection {
  padding: 16px 16px 12px;
  background-color: white;
  width: 270px;
  border-top: 1px solid #f0f0f0;
  margin-bottom: 16px;
}

.priceHeading h1 {
  font-size: 13px;
  font-weight: 500;
  font-family: SemiBold;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.sliderMain {
  display: flex;
  padding: 20px 0;
  position: relative;
  margin-top: 14px;
}

input[type="range"] {
  width: 100%;
  position: absolute;
  -webkit-appearance: none;
  z-index: 1;
  background: none;
  pointer-events: none;
  bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 50%;
  background-color: white;
}
.rangeFill {
  height: 6px;
  background-color: #2874f0;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  z-index: 0;
}

.priceGraph {
  position: absolute;
  /* background-color: red; */
  width: 100%;
  height: 30px;
  top: -10px;
  display: flex;
  align-items: flex-end;
}
.priceGraph div {
  flex: 1;
  background-color: #e0e0e0;
}
.priceGraph div:nth-child(1) {
  height: 100%;
}
.priceGraph div:nth-child(2) {
  height: 20px;
}
.priceGraph div:nth-child(3) {
  height: 20px;
}
.priceGraph div:nth-child(4) {
  height: 10px;
}

.priceRangeSteps{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #C2C2C2;
}

.minMaxPriceShow{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -32px;
    justify-content: space-between;
    background-color: white;
}

.minMaxPriceShow select{
    /* width: 89px; */
    flex: 1;
    height: 24px;
    border: 1px solid #e0e0e0;
    background-color: white;
}

.minMaxPriceShow p{
    font-size: 13px;
    font-family: Roboto;
    margin: 0 12px;
    font-weight: 400;
    line-height: 14px;
    color: #878787;
}