.filterSection {
  background-color: #ffffff;
  width: 270px;
  height: fit-content;
  display: none;
}
.filterHeading {
  display: flex;
  align-items: center;
  padding: 16px 16px 12px;
  border-bottom: 1px solid #f0f0f0;
}
.filterHeading h1 {
  font-size: 18px;
  font-weight: 500;
  font-family: SemiBold;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.categories {
  padding: 16px;
}

.categories h3 {
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  color: #212121;
  font-family: SemiBold;
}

.sportsCategory {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 5px 0;
}

.sportsCategory img {
  width: 6px;
}

.sportsCategory span {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-family: Regular;
  color: #878787;
}

.footballCategoryHeading {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 5px 0;
}

.footballCategoryHeading img {
  width: 10px;
}

.footballCategoryRotate {
  transform: rotate(-90deg);
}

.footballCategoryHeading span {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  font-family: SemiBold;
  color: #212121;
}
.footballCategoryList {
  padding-left: 30px;
}
.footballCategoryList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.footballCategoryList ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
  font-family: Roboto;
}

.footballCategoryList p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #2874f0;
  font-family: Roboto;
  margin-top: 5px;
}

.assuredSection {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f0f0f0;
}
.assuredLogoSection {
  display: flex;
  align-items: center;
  gap: 11px;
}

.assuredLogoSection img {
  width: 70px;
  margin-top: 5px;
}
.hide {
  display: none;
}
.hideNew {
  display: none;
}

.assuredQuestion {
  margin: 0 2px 0 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.assuredQuestion span {
  font-size: 11px;
  color: #878787;
  font-family: Regular;
}

.addSection div:nth-of-type(1) {
  padding: 14px 16px;
}

.addSection div h2 {
  font-size: 16px;
  color: #212121;
  font-family: SemiBold;
  font-weight: 500;
  line-height: 1.2;
}
.addSection div p {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  font-family: Regular;
  margin-top: 2px;
}

.addImage {
  width: 100%;
}

.addSectionUnderline {
  width: 100%;
  height: 10px;
  background-color: #f1f2f4d2;
}

@media screen and (min-width: 1170px) {
  .filterSection {
    display: block;
  }
}

