.main{
    width: 100%;
    height: 126px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.main a{
    text-decoration: none;
}

.categoriesCard{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.categoriesCard div{
    display: flex;
    align-items: center;
    gap: 3px;
}

.categoriesCard div img{
    margin-top: 2px;
    width: 16px;
}
.categoriesCard span{
    font-family: SemiBold;
    font-size: 14px;
    color: black;
}

.catImage{
    width: 64px;
}

.fill{
    display: none;
    width: 100%;
    height: 17px;
    background-color:#f1f2f4d2;
}

@media screen and (min-width: 1190px) {
    .main{
        display: flex;
    }
    .fill{
        display: block;
    }
}