.filterSection {
  background-color: white;
  width: 270px;
  border-top: 1px solid #f0f0f0;
}
.filterHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 12px;
}
.arrow {
  transform: rotate(-90deg);
  width: 6px;
}

.filterHeading h1 {
  font-size: 13px;
  font-weight: 500;
  font-family: SemiBold;
  letter-spacing: 0.3px;
  line-height: 25px;
}

.arrowRotate {
  transform: rotate(90deg);
}

.brandList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
}

.brandList div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.brandList p {
  color: #2874f0;
  font-family: SemiBold;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 5px;
}

.brandList div label {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  font-family: Regular;
  color: #212121;
}

.brandSearch {
  position: relative;
}
.brandSearch img {
  position: absolute;
  width: 13px;
  top: 2px;
}

.brandSearch input {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.123);
  padding: 0 0 2px 23px;
  font-family: Regular;
  width: 100%;
  outline: none;
}

.brandSearch input:focus {
  border-bottom: 2px solid blue;
}

.hide {
  display: none;
}

