.p-header-large{
    display: none;
    height: 56px;
    width: 100%;
}
.p-header-large{
    background-color: #2874f0;
}
.p-header-large-main{
    height: 100%;
    width: 100%;
    max-width: 1248px;
    display: flex;
    /* gap: 35px; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.p-header-large-left{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
}
.plus-logo{
    width: 10px;
    height: 10px;
}
.p-header-large-left div div p{
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    font-family: Roboto;
}
.flipkart-logo{
    width: 75px;
}



.flipkart-logo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}
.flipkart-logo-section div{
    display: flex;
    gap: 4px;
    align-items: center;
}

.flipkart-logo-section div p{
    color: white;
}

.flipkart-logo-section div p span{
    color: #FFE500;

}

.l-search-main{
    position: relative;
}
.l-search-main img{
    position: absolute;
    right: 60px;
    top: 9px;
}

.p-header-large-btn{
    padding: 5px 40px;
    color: #2874f0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.p-header-large-right{
    display: flex;
    align-items: center;
    gap: 40px;
    /* flex: 1; */
}
.p-header-large-right div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.p-header-large-right span{
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    color: white;
}

.arrow-down{
    width: 8px;
    height: 8px;
    transform: rotate(-90deg);
    margin-top: 3px;
}
.cart-logo{
    width: 16px;
    height: 16px;
}
.large-search-section{
    flex: 1;
}
.l-search-main input{
    width: 100%;
    height: 36px;
    padding-left: 16px;
    min-width: 304px;
    max-width: 564px;
}

@media screen and (min-width:1170px){
    .p-header-large{
        display: block;
    }
}