.location-section{
    display: flex;
    align-items: center;
    padding: 0px 16px 4px 16px;
}
.location-section img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.location-section p{
    font-size: 12px;
    line-height: 18px;
    color: rgb(31, 31, 31);
    font-family: SemiBold;
}
.location-section p span{
    color: #1254E7;
    margin-left: 3px;
}

.search-section{
    padding: 16px 16px 12px 16px;   
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.search-section-main{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 12px;
    width: 100%;
    border: 1px solid rgb(88, 171, 250);
    border-radius: 12px;
}
.search-section-main input{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-family: Regular;
    outline: none;
    padding-bottom: 1px;
    background-color: transparent;
}
.search-section-main input::placeholder{
    color: rgb(51, 51, 51);
}

.search-section-main div img{
    width: 24px;
    height: 24px;
    margin-top: 5px;
}


@media screen and (min-width:768px) {
    .location-section{
        display: none;
    }
    .search-section{
        display: none;
    }
}