.slide-section-main{
    width: 100%;
}
.slide-image-section{
    width: 100%;
    padding: 12px 16px;
    display: flex;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
}
.slide-image-section img{
    width: 100%;
    border-radius: 15px;
}