/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Regular;
  src: url("./assets/Fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: SemiBold;
  src: url("./assets/Fonts/Inter-SemiBold.woff2");
}


header{
  display: flex;
  padding: 4px 16px 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-width: 480px;
  margin: 0 auto;
}

.header-left-section{
  display: flex;
  gap: 12px;
  align-items: center;
}
.header-right-section{
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 5px;
  position: relative;
  right: 6px;
}
.hamburger img{
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}
.flip-logo img{
  width: 160px;
  height: 40px;
}

.header-right-section img{
  width: 24px;
  height: 24px;
}
.header-right-section div{
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-right-section span{
  font-family: Regular;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width:425px) {
  .header-right-section{
    right: -12px;
  }
} */