


body{
    background-color: white;
}

@media screen and (min-width: 1170px) {
    body{
        background-color: #f1f2f4d2;
    }
}



/* @media screen and (min-width: 768px) {
    body{
        background-color: #f1f2f4d2;
    }
} */

