.filter-buttons-main{
    display: flex;
    padding: 0 11px;
}

.filter-button{
    display: flex;
    align-items: center;
    padding: 0 8px 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 4px;
    margin: 8px 4px 0;
    height: 40px;
    min-width: 84px;
}
.filter-button img{
    width: 32px;
    margin-right: 5px;
}
.filter-button span{
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    font-family: Roboto;
    max-width: min-content;
    min-width: 33px;
}



@media screen and (min-width:1170px) {
    .filter-buttons-main{
        display: none;
    }
}